<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.system.mapper.EquipmentDeploymentData11Mapper">
    
    <resultMap type="EquipmentDeploymentData11" id="EquipmentDeploymentData11Result">
        <result property="id"    column="id"    />
        <result property="planeType"    column="plane_type"    />
        <result property="troops"    column="troops"    />
        <result property="deploymentTime"    column="deployment_time"    />
        <result property="deploymentQuantity"    column="deployment_quantity"    />
    </resultMap>

    <sql id="selectEquipmentDeploymentData11Vo">
        select id, plane_type, troops, deployment_time, deployment_quantity from equipment_deployment_data_11
    </sql>

    <select id="selectEquipmentDeploymentData11List" parameterType="EquipmentDeploymentData11" resultMap="EquipmentDeploymentData11Result">
        <include refid="selectEquipmentDeploymentData11Vo"/>
        <where>  
            <if test="planeType != null  and planeType != ''"> and plane_type = #{planeType}</if>
            <if test="troops != null  and troops != ''"> and troops = #{troops}</if>
            <if test="deploymentTime != null "> and deployment_time = #{deploymentTime}</if>
            <if test="deploymentQuantity != null "> and deployment_quantity = #{deploymentQuantity}</if>
        </where>
    </select>
    
    <select id="selectEquipmentDeploymentData11ById" parameterType="Long" resultMap="EquipmentDeploymentData11Result">
        <include refid="selectEquipmentDeploymentData11Vo"/>
        where id = #{id}
    </select>
        
    <insert id="insertEquipmentDeploymentData11" parameterType="EquipmentDeploymentData11">
        insert into equipment_deployment_data_11
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="planeType != null">plane_type,</if>
            <if test="troops != null">troops,</if>
            <if test="deploymentTime != null">deployment_time,</if>
            <if test="deploymentQuantity != null">deployment_quantity,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="planeType != null">#{planeType},</if>
            <if test="troops != null">#{troops},</if>
            <if test="deploymentTime != null">#{deploymentTime},</if>
            <if test="deploymentQuantity != null">#{deploymentQuantity},</if>
         </trim>
    </insert>

    <update id="updateEquipmentDeploymentData11" parameterType="EquipmentDeploymentData11">
        update equipment_deployment_data_11
        <trim prefix="SET" suffixOverrides=",">
            <if test="planeType != null">plane_type = #{planeType},</if>
            <if test="troops != null">troops = #{troops},</if>
            <if test="deploymentTime != null">deployment_time = #{deploymentTime},</if>
            <if test="deploymentQuantity != null">deployment_quantity = #{deploymentQuantity},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteEquipmentDeploymentData11ById" parameterType="Long">
        delete from equipment_deployment_data_11 where id = #{id}
    </delete>

    <delete id="deleteEquipmentDeploymentData11ByIds" parameterType="String">
        delete from equipment_deployment_data_11 where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>