<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.system.mapper.PartsMakeNum9Mapper">
    
    <resultMap type="PartsMakeNum9" id="PartsMakeNum9Result">
        <result property="id"    column="id"    />
        <result property="planeType"    column="plane_type"    />
        <result property="partsName"    column="parts_name"    />
        <result property="partsModel"    column="parts_model"    />
        <result property="partsCode"    column="parts_code"    />
        <result property="partsFactoryTime"    column="parts_factory_time"    />
        <result property="partsManufacture"    column="parts_manufacture"    />
        <result property="partsMakeGroup"    column="parts_make_group"    />
        <result property="partsMakePeople"    column="parts_make_people"    />
        <result property="partsMakeQuipment"    column="parts_make_quipment"    />
    </resultMap>

    <sql id="selectPartsMakeNum9Vo">
        select id, plane_type, parts_name, parts_model, parts_code, parts_factory_time, parts_manufacture, parts_make_group, parts_make_people, parts_make_quipment from parts_make_num_9
    </sql>

    <select id="selectPartsMakeNum9List" parameterType="PartsMakeNum9" resultMap="PartsMakeNum9Result">
        <include refid="selectPartsMakeNum9Vo"/>
        <where>  
            <if test="planeType != null  and planeType != ''"> and plane_type = #{planeType}</if>
            <if test="partsName != null  and partsName != ''"> and parts_name like concat('%', #{partsName}, '%')</if>
            <if test="partsModel != null  and partsModel != ''"> and parts_model = #{partsModel}</if>
            <if test="partsCode != null  and partsCode != ''"> and parts_code = #{partsCode}</if>
            <if test="partsFactoryTime != null "> and parts_factory_time = #{partsFactoryTime}</if>
            <if test="partsManufacture != null  and partsManufacture != ''"> and parts_manufacture = #{partsManufacture}</if>
            <if test="partsMakeGroup != null  and partsMakeGroup != ''"> and parts_make_group = #{partsMakeGroup}</if>
            <if test="partsMakePeople != null  and partsMakePeople != ''"> and parts_make_people = #{partsMakePeople}</if>
            <if test="partsMakeQuipment != null  and partsMakeQuipment != ''"> and parts_make_quipment = #{partsMakeQuipment}</if>
        </where>
    </select>
    
    <select id="selectPartsMakeNum9ById" parameterType="Long" resultMap="PartsMakeNum9Result">
        <include refid="selectPartsMakeNum9Vo"/>
        where id = #{id}
    </select>
        
    <insert id="insertPartsMakeNum9" parameterType="PartsMakeNum9" useGeneratedKeys="true" keyProperty="id">
        insert into parts_make_num_9
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="planeType != null">plane_type,</if>
            <if test="partsName != null">parts_name,</if>
            <if test="partsModel != null">parts_model,</if>
            <if test="partsCode != null">parts_code,</if>
            <if test="partsFactoryTime != null">parts_factory_time,</if>
            <if test="partsManufacture != null">parts_manufacture,</if>
            <if test="partsMakeGroup != null">parts_make_group,</if>
            <if test="partsMakePeople != null">parts_make_people,</if>
            <if test="partsMakeQuipment != null">parts_make_quipment,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="planeType != null">#{planeType},</if>
            <if test="partsName != null">#{partsName},</if>
            <if test="partsModel != null">#{partsModel},</if>
            <if test="partsCode != null">#{partsCode},</if>
            <if test="partsFactoryTime != null">#{partsFactoryTime},</if>
            <if test="partsManufacture != null">#{partsManufacture},</if>
            <if test="partsMakeGroup != null">#{partsMakeGroup},</if>
            <if test="partsMakePeople != null">#{partsMakePeople},</if>
            <if test="partsMakeQuipment != null">#{partsMakeQuipment},</if>
         </trim>
    </insert>

    <update id="updatePartsMakeNum9" parameterType="PartsMakeNum9">
        update parts_make_num_9
        <trim prefix="SET" suffixOverrides=",">
            <if test="planeType != null">plane_type = #{planeType},</if>
            <if test="partsName != null">parts_name = #{partsName},</if>
            <if test="partsModel != null">parts_model = #{partsModel},</if>
            <if test="partsCode != null">parts_code = #{partsCode},</if>
            <if test="partsFactoryTime != null">parts_factory_time = #{partsFactoryTime},</if>
            <if test="partsManufacture != null">parts_manufacture = #{partsManufacture},</if>
            <if test="partsMakeGroup != null">parts_make_group = #{partsMakeGroup},</if>
            <if test="partsMakePeople != null">parts_make_people = #{partsMakePeople},</if>
            <if test="partsMakeQuipment != null">parts_make_quipment = #{partsMakeQuipment},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePartsMakeNum9ById" parameterType="Long">
        delete from parts_make_num_9 where id = #{id}
    </delete>

    <delete id="deletePartsMakeNum9ByIds" parameterType="String">
        delete from parts_make_num_9 where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>